.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url('../img/bg/bg_firstScreen.jpg') center (center/cover) no-repeat;
    position: relative;
    z-index: 1;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 2;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        margin-top: 90px;
        z-index: 5;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        line-height: 42px;
        text-transform: uppercase;
        color: #FFFFFF;
        z-index: 5;
    }
    &__subheader {
        font-weight: 500;
        font-size: 24px;
        margin-top: 17px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
        z-index: 5;
    }
    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
    }
    &__icon {
        width: 108px;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        img {
            display: block;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    &__link {
        margin-top: 18px;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #FFFFFF;
        z-index: 5;
        a {
            color: #FFFFFF;
            text-decoration-line: underline;
        }
    }
}